@page "/counter"
@rendermode InteractiveAuto

<PageTitle>Counter</PageTitle>

<FluentLayout>
    <FluentHeader>Counter</FluentHeader>

    <FluentStack Orientation="Orientation.Vertical">
        <div role="status" style="padding-bottom: 1em;margin-top:5px;">
            Current count: <FluentBadge Appearance="Appearance.Neutral">@currentCount</FluentBadge>
        </div>

        <FluentButton Appearance="Appearance.Accent" @onclick="IncrementCount">Click me</FluentButton>
    </FluentStack>

</FluentLayout>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
